:root {
  /* --fonts-- */
--main-font:'Roboto', sans-serif;
--second-font: 'Raleway', sans-serif;

  /* --text colors-- */
--accent-cl: #212121;
--main-text-cl: #FFFFFF;
--second-text-cl: #2196F3;
--email-phone-cl: #757575;
--btn-text-color: #F5F4FA;

  /* --bacground color-- s*/
--main-color:#FFFFFF;
--second-color: #F5F4FA;
--third-color: #2F303A;
--section-color: #E5E5E5;
--btn-color: #2196F3;
--btn-bg-color: #188CE8;
}

/* --File Index.html-- */


body {
  font-family: var(--main-font);
  background-color: var(--main-color);
  color: var(--accent-cl);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {

  outline: 1px solid red;

  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* --Header section-- */

.header {
 background-color: var(--main-color);
} 

.header-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.logo-left {
  margin-right: 93px;
  color: var(--second-text-cl);
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

}

.logo-right {
  color: var(--accent-cl);
}

.logo-right-foot {
color: var(--main-text-cl);
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-item {
margin-right: 50px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.header-group {
  display: flex;
  align-items: center;
}

.header-group {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--accent-cl);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em; 
}

.nav-link:hover, .nav-link:focus {
  color: var(--second-text-cl);
}

.current {
  color: var(--second-text-cl);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}


 
 .header-email, .header-phone {
   display: block;
   padding-top: 32px;
   padding-bottom: 32px;
   color: var(--email-phone-cl);
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;  
 } 

 .header-email {
   margin-right: 50px;
 }

.header-email:hover, .header-email:focus {
color: var(--second-text-cl);
}

.header-phone:hover, .header-phone:focus {
  color: var(--second-text-cl);
}

/* --Hero section-- */

.hero {
  background-color: var(--third-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-text-cl);
}

.hero-btn {
  background-color: var(--btn-color);
  color: var(--main-text-cl);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
} 

.hero-btn:hover, .hero-btn:focus {
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
}

/* --about section-- */

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-cl);
}


.about-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-cl);
    }

  .about-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--email-phone-cl);
    }
    
        /* --work section-- */

  .work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-cl);
  }

    /* --team section-- */


  .team {
    background-color: var(--second-color);
  }

  .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-cl);
  }

  .team-worker {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-cl);
  }

  .team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--email-phone-cl);
  }

    /* --Footer section-- */

.footer {
  background-color: var(--third-color);
}

.address {
  font-style: normal;
}

.address-list {
  text-decoration: none;
}

.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em; 
  color: var(--main-text-cl);
}

.address-link:hover, .address-link:focus {
  color: var(--second-text-cl);
}

.email-link, .tel-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

 .email-link:hover, .email-link:focus {
color: var(--second-text-cl);
}
 
 .tel-link:hover, .tel-link:focus {
color: var(--second-text-cl);
}

/* --File Portfolio.html-- */

/* --Filtr section-- */

.btn-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-cl);
  background-color: var(--second-color);
  cursor: pointer;
}

.btn-filter:hover, .btn-filter:focus {
  background-color: var(--btn-color);
  color: var(--main-text-cl);
}


.services-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  color: var(--accent-cl);
  vertical-align: top;
}

.services-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--email-phone-cl);
}